<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="44.0.0.9.92" package="br.com.tbertuzzi.LatestVersionPluginExemplo.app">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="LatestVersionPluginExemplo.Android"></application>
</manifest>